{% extends "base.html" %} {% block title %}Nguyên liệu{% endblock %} {% set
menu_item = 'vat-lieu' %} {% set active_page = 'ingredient' %} {% block content
%}
<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Vật liệu /</span>
  Nguyên liệu
</h4>
<div class="d-flex justify-content-end">
  <button
    type="button"
    class="btn btn-primary me-2"
    data-bs-toggle="modal"
    data-bs-target="#new-ingredient"
  >
    <i class="bx bx-plus-medical bx-sd me-1"></i>Thêm nguyên liệu
  </button>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-outline-primary dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="true"
    >
      <i class="bx bxs-file-export bx-sd me-1"></i>Xuất file
    </button>
    <ul
      class="dropdown-menu"
      data-popper-placement="bottom-start"
      style="
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate(0px, 40px);
      "
    >
      <li>
        <a class="dropdown-item" href="javascript:void(0);"
          ><i class="bx bxs-file-pdf bx-sd me-1"></i>.csv</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="javascript:void(0);"
          ><i class="bx bxs-file-pdf bx-sd me-1"></i>.pdf</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="javascript:void(0);"
          ><i class="bx bxs-copy bx-sd me-1"></i>copy</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <table id="dataTable" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên nguyên liệu</th>
        <th>Đơn vị</th>
        <th>Dài</th>
        <th>Rộng</th>
        <th>Cao</th>
        <th>Giá mua</th>
        <th>Giá bán</th>
        <th>Mô tả</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody id="body-table" class="table-border-bottom-0">
      {% for ingredient in ingredient_list %}
      <tr class="table-light">
        <th>{{ingredient.id}}</th>
        <th>{{ingredient.name}}</th>
        <th>{{ingredient.unit_name}}</th>
        <th>{{ingredient.long}}</th>
        <th>{{ingredient.wide}}</th>
        <th>{{ingredient.high}}</th>
        <th>{{ingredient.buy}}</th>
        <th>{{ingredient.sale}}</th>
        <th>{{ingredient.note}}</th>
        <th>
          <span
            data-bs-toggle="modal"
            data-bs-target="#edit-ingredient"
            onclick="editIngredient({{ingredient}})"
          >
            <a
              href="#"
              data-bs-toggle="tooltip"
              data-bs-offset="0,4"
              data-bs-placement="right"
              data-bs-html="true"
              data-bs-original-title="<span>Sửa</span>"
              ><i class="bx bx-edit bx-md"></i
            ></a>
          </span>
          <span onclick="deleteIngredient({{ingredient.id}})">
            <a
              href="#"
              data-bs-toggle="tooltip"
              data-bs-offset="0,4"
              data-bs-placement="right"
              data-bs-html="true"
              data-bs-original-title="<span>Xoá</span>"
              ><i class="bx bx-message-square-x bx-md"></i
            ></a>
          </span>
        </th>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %} {% block modal %}
<div
  class="modal fade"
  id="new-ingredient"
  data-bs-backdrop="static"
  tabindex="-1"
  style="display: none"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <form method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-ingredient-title">Thêm đơn vị mới</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          name="form_id"
          class="form-control"
          value="form-add"
        />
        <div class="row">
          <div class="col mb-3">
            <label for="name" class="form-label">Tên nguyên liệu</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Nhập tên nguyên liệu..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="unit_id" class="form-label">Đơn vị</label>
            <input
              class="form-control"
              list="browsers"
              name="selected_unit"
              id="selected_unit"
            />
            <datalist id="browsers">
              {% for unit in unit_list %}
              <option value="{{ unit.name }}" data-id="{{ unit.id }}"></option>
              {% endfor %}
            </datalist>
            <input type="hidden" id="unit_id" name="unit_id" />
          </div>
        </div>
        <div class="row g-3">
          <div class="col mb-3">
            <label for="long" class="form-label">Dài</label>
            <input
              type="text"
              id="long"
              name="long"
              class="form-control"
              placeholder="Dài"
            />
          </div>
          <div class="col mb-3">
            <label for="wide" class="form-label">Rộng</label>
            <input
              type="text"
              id="wide"
              name="wide"
              class="form-control"
              placeholder="Rộng"
            />
          </div>
          <div class="col mb-3">
            <label for="high" class="form-label">Cao</label>
            <input
              type="text"
              id="high"
              name="high"
              class="form-control"
              placeholder="Cao"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col mb-3">
            <label for="buy" class="form-label">Giá mua</label>
            <input
              type="text"
              id="buy"
              name="buy"
              class="form-control"
              placeholder="Giá mua"
            />
          </div>
          <div class="col mb-3">
            <label for="sale" class="form-label">Giá bán</label>
            <input
              type="text"
              id="sale"
              name="sale"
              class="form-control"
              placeholder="Giá bán"
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="note" class="form-label">Ghi chú</label>
            <input
              type="text"
              id="note"
              name="note"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Huỷ
        </button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="edit-ingredient"
  data-bs-backdrop="static"
  tabindex="-1"
  style="display: none"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <form method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-ingredient-title">
          Chỉnh sửa thông tin nguyên liệu
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          name="form_id"
          class="form-control"
          value="form-edit"
        />
        <input
          type="hidden"
          id="edit-id"
          name="edit-id"
          class="form-control"
          value=""
        />
        <div class="row">
          <div class="col mb-3">
            <label for="edit-name" class="form-label">Tên nguyên liệu</label>
            <input
              type="text"
              id="edit-name"
              name="edit-name"
              class="form-control"
              placeholder="Nhập tên nguyên liệu..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="edit-unit_id" class="form-label">Đơn vị</label>
            <input
              class="form-control"
              list="edit-browsers"
              name="edit-selected_unit"
              id="edit-selected_unit"
            />
            <datalist id="edit-browsers">
              {% for unit in unit_list %}
              <option value="{{ unit.name }}" data-id="{{ unit.id }}"></option>
              {% endfor %}
            </datalist>
            <input type="hidden" id="edit-unit_id" name="edit-unit_id" />
          </div>
        </div>
        <div class="row g-3">
          <div class="col mb-3">
            <label for="edit-long" class="form-label">Dài</label>
            <input
              type="text"
              id="edit-long"
              name="edit-long"
              class="form-control"
              placeholder="Dài"
            />
          </div>
          <div class="col mb-3">
            <label for="edit-wide" class="form-label">Rộng</label>
            <input
              type="text"
              id="edit-wide"
              name="edit-wide"
              class="form-control"
              placeholder="Rộng"
            />
          </div>
          <div class="col mb-3">
            <label for="edit-high" class="form-label">Cao</label>
            <input
              type="text"
              id="edit-high"
              name="edit-high"
              class="form-control"
              placeholder="Cao"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col mb-3">
            <label for="edit-buy" class="form-label">Giá mua</label>
            <input
              type="text"
              id="edit-buy"
              name="edit-buy"
              class="form-control"
              placeholder="Giá mua"
            />
          </div>
          <div class="col mb-3">
            <label for="edit-sale" class="form-label">Giá bán</label>
            <input
              type="text"
              id="edit-sale"
              name="edit-sale"
              class="form-control"
              placeholder="Giá bán"
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="edit-note" class="form-label">Ghi chú</label>
            <input
              type="text"
              id="edit-note"
              name="edit-note"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Huỷ
        </button>
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block customjs %}
<script
  type="text/javascript"
  src="{{ url_for('static',filename='js/dataTable.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static',filename='js/ingredient.js') }}"
></script>
{% endblock %}
