{% extends "base.html" %} {% block title %}Nhà cung cấp{% endblock %} {% set
menu_item = 'ttcb' %} {% set active_page = 'supplier' %} {% block content %}
<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Thông tin cơ bản /</span>
  <a href="/supplier">Nhà cung cấp</a> / {{supplier.name}}
</h4>

<div class="card-body text-center mb-2">
  <div class="table-responsive text-nowrap">
    <table class="table table-bordered table-light">
      <tr>
        <th>Tên nhà cung cấp</th>
        <th>{{supplier.name}}</th>
      </tr>
      <tr>
        <th>Địa chỉ</th>
        <th>{{supplier.address}}</th>
      </tr>
      <tr>
        <th>Email</th>
        <th>{{supplier.email}}</th>
      </tr>
      <tr>
        <th>Điện thoại</th>
        <th>{{supplier.phone}}</th>
      </tr>
      <tr>
        <th>Căn cước công dân</th>
        <th>{{supplier.cccd}}</th>
      </tr>
      <tr>
        <th>Ngày sinh</th>
        <th>{{supplier.dob}}</th>
      </tr>
      <tr>
        <th>Số tài khoản</th>
        <th>{{supplier.stk}}</th>
      </tr>
      <tr>
        <th>Ngân hàng</th>
        <th>{{supplier.bank_shortName}}</th>
      </tr>
      <tr>
        <th>Ghi chú</th>
        <th>{{supplier.note}}</th>
      </tr>
    </table>
  </div>
  <button
    type="button"
    class="btn btn-primary me-2"
    data-bs-toggle="modal"
    data-bs-target="#edit-supplier"
    onclick="editSupplier({{supplier}})"
  >
    Chỉnh sửa
  </button>
  <button
    type="button"
    class="btn btn-outline-danger"
    onclick="deleteSupplier({{supplier.id}})"
  >
    Xoá
  </button>
</div>

<div class="card-body text-center">
  <h2>Chuyển khoản nhanh</h2>
  <p style="color: green">Mã chuyển khoản được tạo từ thông tin nhà cung cấp</p>
  <img
    style="max-width: 400px; max-height: 400px"
    src="https://img.vietqr.io/image/{{supplier.bank_bin}}-{{supplier.stk}}-compact.jpg"
  />
</div>
{% endblock %} {% block modal %}
<div
  class="modal fade"
  id="new-supplier"
  data-bs-backdrop="static"
  tabindex="-1"
  style="display: none"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <form method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-supplier-title">
          Thêm nhà cung cấp mới
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          name="form_id"
          class="form-control"
          value="form-add"
        />
        <div class="row">
          <div class="col mb-3">
            <label for="name" class="form-label">Tên nhà cung cấp</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Nhập tên khách hàng..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="address" class="form-label">Địa chỉ</label>
            <input
              type="text"
              id="address"
              name="address"
              class="form-control"
              placeholder="Nhập địa chỉ của khách hàng..."
            />
          </div>
        </div>
        <div class="row g-2">
          <div class="col mb-3">
            <label for="phone" class="form-label">Số điện thoại</label>
            <div class="input-group input-group-merge">
              <span class="input-group-text">VN (+84)</span>
              <input
                type="text"
                id="phone"
                name="phone"
                class="form-control"
                placeholder="912 345 678"
              />
            </div>
          </div>
          <div class="col mb-3">
            <label for="cccd" class="form-label">Căn cước công dân</label>
            <input
              type="text"
              id="cccd"
              name="cccd"
              class="form-control"
              placeholder="000 000 000 000"
            />
          </div>
        </div>
        <div class="row g-2">
          <div class="col mb-0">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="xxxx@xxx.xx"
            />
          </div>
          <div class="col mb-3">
            <label for="dob" class="form-label">Ngày sinh</label>
            <input
              type="date"
              id="dob"
              name="dob"
              class="form-control"
              placeholder="Ngày / Tháng / Năm"
            />
          </div>
        </div>
        <div class="row g-2">
          <div class="col mb-0">
            <label for="stk" class="form-label">Số tài khoản</label>
            <input
              type="text"
              id="stk"
              name="stk"
              class="form-control"
              placeholder="0000 0000 0000"
            />
          </div>
          <div class="col mb-3">
            <label for="bank_id" class="form-label">Ngân hàng</label>
            <input
              class="form-control"
              list="browsers"
              name="selected_bank"
              id="selected_bank"
            />
            <datalist id="browsers">
              {% for bank in bank_list %}
              <option value="{{ bank.shortName }}" data-id="{{ bank.id }}">
                {{ bank.name }}
              </option>
              {% endfor %}
            </datalist>
            <input type="hidden" id="bank_id" name="bank_id" />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="note" class="form-label">Ghi chú</label>
            <input
              type="text"
              id="note"
              name="note"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Huỷ
        </button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="edit-supplier"
  data-bs-backdrop="static"
  tabindex="-1"
  style="display: none"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <form method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-supplier-title">
          Chỉnh sửa thông tin nhà cung cấp
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          name="form_id"
          class="form-control"
          value="form-edit"
        />
        <input
          type="hidden"
          id="edit-id"
          name="edit-id"
          class="form-control"
          value=""
        />
        <div class="row">
          <div class="col mb-3">
            <label for="edit-name" class="form-label">Tên nhà cung cấp</label>
            <input
              type="text"
              id="edit-name"
              name="edit-name"
              class="form-control"
              placeholder="Nhập tên khách hàng..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="edit-address" class="form-label">Địa chỉ</label>
            <input
              type="text"
              id="edit-address"
              name="edit-address"
              class="form-control"
              placeholder="Nhập địa chỉ của khách hàng..."
            />
          </div>
        </div>
        <div class="row g-2">
          <div class="col mb-3">
            <label for="edit-phone" class="form-label">Số điện thoại</label>
            <div class="input-group input-group-merge">
              <span class="input-group-text">VN (+84)</span>
              <input
                type="text"
                id="edit-phone"
                name="edit-phone"
                class="form-control"
                placeholder="912 345 678"
              />
            </div>
          </div>
          <div class="col mb-3">
            <label for="edit-cccd" class="form-label">Căn cước công dân</label>
            <input
              type="text"
              id="edit-cccd"
              name="edit-cccd"
              class="form-control"
              placeholder="000 000 000 000"
            />
          </div>
        </div>
        <div class="row g-2">
          <div class="col mb-0">
            <label for="edit-email" class="form-label">Email</label>
            <input
              type="email"
              id="edit-email"
              name="edit-email"
              class="form-control"
              placeholder="xxxx@xxx.xx"
            />
          </div>
          <div class="col mb-3">
            <label for="edit-dob" class="form-label">Ngày sinh</label>
            <input
              type="date"
              id="edit-dob"
              name="edit-dob"
              class="form-control"
              placeholder="Ngày / Tháng / Năm"
            />
          </div>
        </div>
        <div class="row g-2">
          <div class="col mb-0">
            <label for="edit-stk" class="form-label">Số tài khoản</label>
            <input
              type="text"
              id="edit-stk"
              name="edit-stk"
              class="form-control"
              placeholder="0000 0000 0000"
            />
          </div>
          <div class="col mb-3">
            <label for="edit-bank_id" class="form-label">Ngân hàng</label>
            <input
              class="form-control"
              list="edit-browsers"
              name="edit-bank"
              id="edit-bank"
            />
            <datalist id="edit-browsers">
              {% for bank in bank_list %}
              <option value="{{ bank.shortName }}" data-id="{{ bank.id }}">
                {{ bank.name }}
              </option>
              {% endfor %}
            </datalist>
            <input type="hidden" id="edit-bank_id" name="edit-bank_id" />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="edit-note" class="form-label">Ghi chú</label>
            <input
              type="text"
              id="edit-note"
              name="edit-note"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Huỷ
        </button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block customjs %}
<script
  type="text/javascript"
  src="{{ url_for('static',filename='js/dataTable.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static',filename='js/supplier.js') }}"
></script>
{% endblock %}
