{% extends "base.html" %} {% block title %}Đơn vị{% endblock %} {% set menu_item
= 'vat-lieu' %} {% set active_page = 'unit' %} {% block content %}
<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Vật liệu /</span>
  Đơn vị
</h4>
<div class="d-flex justify-content-end">
  <button
    type="button"
    class="btn btn-primary me-2"
    data-bs-toggle="modal"
    data-bs-target="#new-unit"
  >
    <i class="bx bx-plus-medical bx-sd me-1"></i>Thêm đơn vị
  </button>
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-outline-primary dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="true"
    >
      <i class="bx bxs-file-export bx-sd me-1"></i>Xuất file
    </button>
    <ul
      class="dropdown-menu"
      data-popper-placement="bottom-start"
      style="
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate(0px, 40px);
      "
    >
      <li>
        <a class="dropdown-item" href="javascript:void(0);"
          ><i class="bx bxs-file-pdf bx-sd me-1"></i>.csv</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="javascript:void(0);"
          ><i class="bx bxs-file-pdf bx-sd me-1"></i>.pdf</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="javascript:void(0);"
          ><i class="bx bxs-copy bx-sd me-1"></i>copy</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <table id="dataTable" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên đơn vị</th>
        <th>Mô tả</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody id="body-table" class="table-border-bottom-0">
      {% for unit in unit_list %}
      <tr class="table-light">
        <th>{{unit.id}}</th>
        <th>{{unit.name}}</th>
        <th>{{unit.note}}</th>
        <th>
          <span
            data-bs-toggle="modal"
            data-bs-target="#edit-unit"
            onclick="editUnit({{unit}})"
          >
            <a
              href="#"
              data-bs-toggle="tooltip"
              data-bs-offset="0,4"
              data-bs-placement="right"
              data-bs-html="true"
              data-bs-original-title="<span>Sửa</span>"
              ><i class="bx bx-edit bx-md"></i
            ></a>
          </span>
          <span onclick="deleteUnit({{unit.id}})">
            <a
              href="#"
              data-bs-toggle="tooltip"
              data-bs-offset="0,4"
              data-bs-placement="right"
              data-bs-html="true"
              data-bs-original-title="<span>Xoá</span>"
              ><i class="bx bx-message-square-x bx-md"></i
            ></a>
          </span>
        </th>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %} {% block modal %}
<div
  class="modal fade"
  id="new-unit"
  data-bs-backdrop="static"
  tabindex="-1"
  style="display: none"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <form method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-customer-title">Thêm đơn vị mới</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          name="form_id"
          class="form-control"
          value="form-add"
        />
        <div class="row">
          <div class="col mb-3">
            <label for="name" class="form-label">Tên đơn vị</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Nhập tên đơn vị..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="note" class="form-label">Ghi chú</label>
            <input
              type="text"
              id="note"
              name="note"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Huỷ
        </button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="edit-unit"
  data-bs-backdrop="static"
  tabindex="-1"
  style="display: none"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <form method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-unit-title">
          Chỉnh sửa thông tin đơn vị
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="hidden"
          name="form_id"
          class="form-control"
          value="form-edit"
        />
        <input
          type="hidden"
          id="edit-id"
          name="edit-id"
          class="form-control"
          value=""
        />
        <div class="row">
          <div class="col mb-3">
            <label for="edit-name" class="form-label">Tên đơn vị</label>
            <input
              type="text"
              id="edit-name"
              name="edit-name"
              class="form-control"
              placeholder="Nhập tên đơn vị..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <label for="edit-note" class="form-label">Ghi chú</label>
            <input
              type="text"
              id="edit-note"
              name="edit-note"
              class="form-control"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Huỷ
        </button>
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block customjs %}
<script
  type="text/javascript"
  src="{{ url_for('static',filename='js/dataTable.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static',filename='js/unit.js') }}"
></script>
{% endblock %}
